dark-gray = #747474
dark-gray-text = #888888

.speaker-header
    text-transform uppercase
    font-weight normal
    color dark-gray
    margin-bottom 0

.speaker-name
    text-transform none
    color dark-gray-text

.paragraph
    text-transform none
    color dark-gray-text
    display block
    padding-left 20px
    margin 0

.speaker-info
    display flex
    justify-content flex-start
    align-items center
    margin-bottom 20px