body {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
a {
  margin: 0 20px;
}
.button {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: #000;
  background: #fff;
  font-weight: bold;
  text-align: center;
}
.button +.small {
  width: 75px;
  height: 20px;
  line-height: 20px;
  border-bottom-width: 2px;
  font-size: 10px;
}
.button +.large {
  width: 115px;
  height: 30px;
  line-height: 30px;
  border-bottom-width: 3px;
  font-size: 12px;
}
.button +.yes {
  color: #4eb7a8;
  border-color: #28a290;
}
.button +.yes:hover {
  background: #4eb7a8;
}
.button +.no {
  color: #e75735;
  border-color: #cc4626;
}
.button +.no:hover {
  background: #e75735;
}
.button:hover {
  color: #fff;
  cursor: pointer;
}
.arrow {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: #fff;
  border: 3px solid #4eb7a8;
}
.arrow:after {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  border: 5px solid #4eb7a8;
  transform: rotate(45deg);
}
.arrow +.arrow-left:after {
  margin-left: 15px;
  border-right-color: transparent;
  border-top-color: transparent;
}
.arrow +.arrow-left:hover:after {
  border-left-color: #fff;
  border-bottom-color: #fff;
}
.arrow +.arrow-right:after {
  margin-right: 15px;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.arrow +.arrow-right:hover:after {
  border-right-color: #fff;
  border-top-color: #fff;
}
.arrow:hover {
  background: #4eb7a8;
}
.arrow +.unavaliable {
  background: #e5e5e5;
  border-color: #e5e5e5;
}
.arrow +.unavaliable +.arrow-left:after {
  border-left-color: #fff;
  border-bottom-color: #fff;
}
.arrow +.unavaliable +.arrow-right:after {
  border-right-color: #fff;
  border-top-color: #fff;
}
.percentage {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  font-size: 40px;
  color: #9d9d9d;
}
.percentage .slice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.percentage .slice.one {
  clip: rect(0 85px 42px 0);
  background: #e75735;
}
.percentage .slice.two {
  clip: rect(0 42px 85px 0);
  background: #fff;
}
.percentage.perc-25 .slice.one {
  transform: rotate(90deg);
}
.percentage.perc-25 .slice.two {
  transform: rotate(0deg);
}
.percentage.perc-0 .slice.one {
  transform: rotate(0deg);
}
.percentage.perc-0 .slice.two {
  transform: rotate(0deg);
}
.percentage.perc-87 .slice.one {
  transform: rotate(90deg);
}
.percentage.perc-87 .slice.two {
  transform: rotate(300deg);
}
.percentage .center {
  position: absolute;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  width: 65px;
  height: 65px;
  background: #fff;
}
.percentage .center span {
  display: block;
  text-align: center;
}
