body {
  margin: 50px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #747474;
}
a {
  margin: 0 20px;
}
.button {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: #000;
  background: #fff;
  font-weight: bold;
  text-align: center;
}
.button.button:first-of-type {
  display: none;
}
.button +.small {
  width: 75px;
  height: 20px;
  line-height: 20px;
  border-bottom-width: 2px;
  font-size: 10px;
}
.button +.large {
  width: 115px;
  height: 30px;
  line-height: 30px;
  border-bottom-width: 3px;
  font-size: 12px;
}
.button +.yes {
  color: #4eb7a8;
  border-color: #28a290;
}
.button +.yes:hover {
  background: #4eb7a8;
}
.button +.no {
  color: #e75735;
  border-color: #cc4626;
}
.button +.no:hover {
  background: #e75735;
}
.button:hover {
  color: #fff;
  cursor: pointer;
}
.arrow {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: #fff;
  border: 3px solid #4eb7a8;
}
.arrow:after {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  border: 5px solid #4eb7a8;
  transform: rotate(45deg);
}
.arrow +.arrow-left:after {
  margin-left: 15px;
  border-right-color: transparent;
  border-top-color: transparent;
}
.arrow +.arrow-left:hover:after {
  border-left-color: #fff;
  border-bottom-color: #fff;
}
.arrow +.arrow-right:after {
  margin-right: 15px;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.arrow +.arrow-right:hover:after {
  border-right-color: #fff;
  border-top-color: #fff;
}
.arrow:hover {
  background: #4eb7a8;
}
.arrow +.unavaliable {
  background: #e5e5e5;
  border-color: #e5e5e5;
}
.arrow +.unavaliable +.arrow-left:after {
  border-left-color: #fff;
  border-bottom-color: #fff;
}
.arrow +.unavaliable +.arrow-right:after {
  border-right-color: #fff;
  border-top-color: #fff;
}
.arrow.arrow:first-of-type,
.arrow.arrow:nth-of-type(4) {
  display: none;
}
.percentage {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  font-size: 40px;
  color: #9d9d9d;
}
.percentage .slice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.percentage .slice.one {
  clip: rect(0 42px 42px 0);
  background: #e75735;
}
.percentage .slice.two {
  clip: rect(0 42px 42px 0);
  background: #fff;
}
.percentage.perc-25 .slice.one {
  transform: rotate(36deg);
}
.percentage.perc-25 .slice.two {
  transform: rotate(0deg);
}
.percentage.perc-0 .slice.one {
  transform: rotate(0deg);
}
.percentage.perc-0 .slice.two {
  transform: rotate(0deg);
}
.percentage.perc-87 .slice.one {
  transform: rotate(90deg);
}
.percentage.perc-87 .slice.two {
  transform: rotate(0deg);
}
.percentage .center {
  position: absolute;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  width: 75px;
  height: 75px;
  line-height: 75px;
  background: #fff;
}
.percentage .center span {
  display: block;
  text-align: center;
}
.multi-donut {
  display: inline-block;
  position: relative;
  width: 85px;
  height: 85px;
  background-color: #fff;
}
.multi-donut .chart {
  width: 100%;
  height: 100%;
}
.pie {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: absolute;
  width: 42px;
  height: 85px;
  overflow: hidden;
  left: 63px;
  transform-origin: left center;
}
.pie:before {
  content: "";
  position: absolute;
  width: 42px;
  height: 85px;
  left: -42px;
  border-radius: 42px 0 0 42px;
  transform-origin: right center;
}
.pie.big {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  left: 21px;
  transform-origin: center center;
}
.pie.big:before {
  left: 0px;
}
.pie.big:after {
  content: "";
  position: absolute;
  width: 42px;
  height: 85px;
  left: 42px;
  border-radius: 0 50% 50% 0;
}
.pie:nth-of-type(1):before,
.pie:nth-of-type(1):after {
  background-color: #747474;
}
.pie:nth-of-type(2):before,
.pie:nth-of-type(2):after {
  background-color: #e75735;
}
.pie:nth-of-type(3):before,
.pie:nth-of-type(3):after {
  background-color: #4eb7a8;
}
.pie:nth-of-type(4):before,
.pie:nth-of-type(4):after {
  background-color: #9d9d9d;
}
.pie[data-start="30"] {
  transform: rotate(30deg);
}
.pie[data-start="60"] {
  transform: rotate(60deg);
}
.pie[data-start="160"] {
  transform: rotate(160deg);
}
.pie[data-value="30"]:before {
  transform: rotate(31deg);
}
.pie[data-value="100"]:before {
  transform: rotate(101deg);
}
.pie[data-value="200"]:before {
  transform: rotate(200deg);
}
.chart > .center {
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 15px;
  left: 36px;
  width: 55px;
  height: 55px;
  line-height: 65px;
  background: #fff;
}
.chart > .center span {
  display: block;
  text-align: center;
}
.stages .stage {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  z-index: -1;
  height: 5px;
  width: 130px;
  background-color: #e5e5e5;
  vertical-align: middle;
}
.stages .point {
  margin: 0 -10px;
  padding: 0;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  color: #888;
  font-weight: bold;
  font-size: 14px;
  background-color: #e5e5e5;
}
.stages .point:first-of-type {
  margin-left: 0;
}
.stages .done {
  background-color: #e75735;
  color: #fff;
}
.slider {
  margin-top: 50px;
  display: inline-block;
  vertical-align: middle;
  height: 5px;
  width: 260px;
  background-color: #e5e5e5;
  border-radius: 2px;
}
.slider.one:before {
  display: block;
  content: "";
  float: left;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e75735;
  top: -8px;
  left: 100px;
}
.slider.one:after {
  display: block;
  content: "40";
  float: left;
  position: relative;
  width: 35px;
  height: 28px;
  background: url("Slider bubble bg.png") no-repeat;
  top: -40px;
  left: 75px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}
.slider.two:before {
  display: block;
  content: "";
  float: left;
  left: 0;
  top: 0;
  height: 5px;
  width: 195px;
  border-radius: 2px;
  background-color: #4eb7a8;
}
.slider.two:after {
  display: block;
  content: "";
  float: left;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4eb7a8;
  top: -8px;
  left: -10px;
}
.slider-scale {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.slider-scale .span {
  display: block;
  width: 20px;
  height: 20px;
  top: 0;
}
.slider-scale .span:first-of-type {
  left: -10px;
}
.slider-scale .span:nth-of-type(2) {
  left: 15%;
}
.slider-scale .span:nth-of-type(3) {
  left: 40%;
}
.slider-scale .span:nth-of-type(4) {
  left: 65%;
}
.slider-scale .span:nth-of-type(5) {
  left: 90%;
}
