body {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
a {
  margin: 0 20px;
}
.button,
.button:active {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: #fff;
  background: #000;
  font-weight: bold;
  text-align: center;
}
.button +.small,
.button:active +.small {
  width: 75px;
  height: 20px;
  line-height: 20px;
  border-bottom-width: 2px;
  font-size: 10px;
}
.button +.large,
.button:active +.large {
  width: 115px;
  height: 30px;
  line-height: 30px;
  border-bottom-width: 3px;
  font-size: 12px;
}
.button +.yes,
.button:active +.yes {
  background: #4eb7a8;
  border-color: #28a290;
}
.button +.yes:hover,
.button:active +.yes:hover {
  color: #44ae9f;
}
.button +.no,
.button:active +.no {
  background: #e75735;
  border-color: #cc4626;
}
.button +.no:hover,
.button:active +.no:hover {
  color: #e34a26;
}
.button:hover,
.button:active:hover {
  background: #fff;
  cursor: pointer;
}
.arrow {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: #4eb7a8;
  border: 3px solid #4eb7a8;
}
.arrow:after {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  border: 5px solid #fff;
  border-radius: 5px;
  transform: rotate(45deg);
}
