doctype html/

//<a href="html/events.html" class="arrow arrow-active arrow-right arrow-block"></a>
html
    include ../head/head.pug
    style
        include ../arrow/arrow.css
    body
        .body-container
            h1.block-header an arrow should be here
            a(href="../../dist/index.html" class="arrow arrow-active arrow-right arrow-block")