.address-info {
  width: 700px;
  height: 275px;
  margin: 0 auto;
}
.map {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 200px;
}
.map-info,
.map-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.map-address {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  box-sizing: border-box;
  background-color: #e75735;
  padding: 20px;
}
.location-info {
  color: #fff;
  margin-right: 20px;
}
.location-message {
  font-size: 2em;
  font-weight: normal;
}
.location-address {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
}
.map-icon {
  display: block;
  width: 27px;
  height: 26px;
  background-color: #fff;
  margin: 0 10px;
}
.my-location-icon {
  background: url("img/My-Location.png") no-repeat center center;
}
.marker-icon {
  background: url("img/Pin.png") no-repeat center center;
}
